<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.adiaz.legasports">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="com.adiaz.legasports.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.adiaz.legasports.CategoriesActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.adiaz.legasports.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adiaz.legasports.CategoriesActivity"/>
        </activity>
        <activity
            android:name="com.adiaz.legasports.ChampionshipActivity"
            android:parentActivityName="com.adiaz.legasports.CategoriesActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adiaz.legasports.CategoriesActivity"/>
        </activity>
    </application>

</manifest>