<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.adiaz.legasports">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SelectCompetitionActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adiaz.legasports.activities.SelectCompetitionActivity"/>
        </activity>
        <activity
            android:name=".activities.CompetitionActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.SelectCompetitionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adiaz.legasports.activities.SelectCompetitionActivity"/>
        </activity>
        <activity android:name=".activities.FavoritesActivity">
        </activity>
        <activity android:name=".activities.FavoriteTeamActivity">
        </activity>
        <activity android:name=".activities.FootballActivity">
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_preferences"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <service android:name=".sync.LegaSportsSyncIntentService" android:exported="false"></service>
        <service android:name=".sync.LegaSportsFirebaseJobService" android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"></action>
            </intent-filter>
        </service>
        <provider
            android:authorities="com.adiaz.legasports"
            android:name="com.adiaz.legasports.contentproviders.LegaSportContentProvider"
            android:exported="false"></provider>
    </application>

</manifest>